*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
    background-color: black;
    display: flex;
    justify-content: center;
}

.LoginBoxBorder {
    border-radius: 20px;
    width: 800px;
    height: 500px;
    background: linear-gradient(180deg, #A5219B 0%, #54ADFF 100%);
    margin-top: 100px;

    display: flex;
    justify-content: center;
}

.LoginBox {
    border-radius: 20px;
    width: 99%;
    height: 98%;
    background-color: #1e1e1e;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

.Heading {
    color: white;
    background-color: #1e1e1e;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.LoginEntries {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

.EntryRecord {
    background-color: rgb(46, 42, 42);
    outline: none;
    border: none;
    width: 450px;
    height: 30px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px;
}

.EntryRecord::placeholder{
    color: #becef7;
    font-size: 16px;
}

.LoginButton {
    color: black;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    width:fit-content;
    align-content: center;
    transition: transform 0.3s ease;
}

.LoginButton:hover {
    transform: translate(-3px, -3px);
}

.SignupPrompt {
    align-content: center;
    display: flex;
    background: #1e1e1e;
    gap: 1em;
}

.SignupText {
    color: white;
    background-color: #1e1e1e;
    font-size: 16px;
    font-weight: 500;
}

.SignupButton {
    border-radius: 10px;
    padding: 10px;
    color: black;
    background-color: #becef7;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #000;
    transition: transform 0.3s ease;
    margin-top: -9px;
}

.SignupButton:hover{
    transform: translate(-3px, -3px);
}